body {
    background: linear-gradient(to bottom, red, blue);
    background-repeat: no-repeat;
}





h1 {
    text-align: center;
}

#rectangle0 {
    position: relative;
    width: 98.5%;
    height: 98.5vh;


}




#rectangle3 {
    position: absolute;
    width: 33.29%;
    height: 14.8vh;
    left: 50.1%;
    transform: translate(-50%);
    border: 1px solid black;
    text-align: center;

}



#rectangle5 {
    position: absolute;
    width: 33.33%;
    height: 24.5vh;
    left: 16.7%;
    transform: translate(-50%);
    border: 1px solid black;
    text-align: center;

}

#rectangle6 {
    position: absolute;
    width: 33.28555555%;
    height: 24.5vh;
    left: 83.5%;
    transform: translate(-50%);
    border: 1px solid black;
    text-align: center;


}

#rectangle7 {
    position: relative;
    width: 100%;
    height: 105vh;
    bottom: 50vh;
    border: 2px solid black;
}

#rectangle8 {
    position: absolute;
    width: 10%;
    left: 33.4%;
    height: 85vh;
    bottom: 18vh;
    border: 2px solid black;
    text-align: center;

}

#rectangle9 {
    position: absolute;
    width: 20vw;
    height: 10vw;
    left: 50%;
    transform: translate(-50%);
    border: 10px;
    bottom: 4vw;

    text-align: center;
}




#text1 {
    color: white;

}

#text2 {
    color: white;

}

#text3 {

    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 15px;
    color: linear-gradient(to bottom, red, blue);

}

#text4 {
    color: white;

}

#text5 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;

}

#text6 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;

}

audio {
    position: absolute;
    width: 100%;
    max-width: 300px;
    display: block;
    background-color: red;

}

video {
    width: 75h;
    height: 60vh;
    margin-top: 20px;
    float: right;


}

#logo1 {
    left: 0;
    height: 42vh;
    width: 65vh;
    border: red 2px;

}

.anime-non1 {
    transform: scale(1);
    transition: transform 0.3s ease;
    position: absolute;
    width: 33.25%;
    left: 0;
    height: 73.6vh;
    bottom: 0;
    border: 1px solid black;
    text-align: center;
}

.anime-non2 {
    transform: scale(1);
    transition: transform 0.3s ease;
    position: absolute;
    width: 33.359%;
    left: 33.33%;
    height: 83.3vh;
    bottom: 0;
    border: 1px solid black;
    text-align: center;
}

.anime-non3 {
    transform: scale(1);
    transition: transform 0.3s ease;
    position: absolute;
    width: 33.33%;
    left: 66.75%;
    height: 73.6vh;
    bottom: 0;
    border: 1px solid black;
    text-align: center;

}


.anime-non1:hover {
    transform: scale(0.9);
}

.anime-non2:hover {
    transform: scale(0.9);
}

.anime-non3:hover {
    transform: scale(0.9);

}







#message-erreur {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 600px) {

    #message-erreur {
        display: block;
    }

    #rectangle0 {
        display: none;
    }

    body {
        background: gray;

    }
}
